{% extends 'index.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <h2>로그인</h2>
        <form name="loginfrm" class="form1" method="post">
            <div>
                <label id="userid">아이디</label>
                <input name="userid" type="text" size="18" maxlength="18">
            </div>
            <div>
                <label id="passwd">비밀번호</label>
                <input name="passwd" type="password" size="18" maxlength="18">
            </div>
            <div><!--<label></label>-->
                <button type="sumit">로그인</button>
            </div>
        </form>
{% endblock %}