{% extends 'index.html' %}

{% block title %} List {% endblock %}

{% block content %}
    <h2>게시판</h2>
        <button id="newone" type="button" onclick="location.href='/write'">새글쓰기</button>
        <table id="board">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회</th>
            </tr>
            {% for b in bds %}
            <tr>
                <td>{{ b.id }}</td><td><a href="/view?bno={{ b.id }}">{{ b.title }}</a></td>
                <td>{{ b.userid }}</td><td>{{ b.regdate|date:'Y-m-d' }}</td><td>{{ b.views }}</td>
            </tr>
            {% endfor %}
        </table>
        <table id="pgnav">
            <tr>
                <th><a href="#">&lt;&lt;이전</a></th>
                <th><a href="#">1</a></th>
                <th><a href="#">2</a></th>
                <th><a href="#">3</a></th>
                <th><a href="#">4</a></th>
                <th><a href="#">5</a></th>
                <th><a href="#">6</a></th>
                <th><a href="#">7</a></th>
                <th><a href="#">8</a></th>
                <th><a href="#">9</a></th>
                <th><a href="#">10</a></th>
                <th><a href="#">다음&gt;&gt;</a></th>
            </tr>
        </table>
{% endblock %}