{% extends 'index.html' %}

{% block title %} List {% endblock %}

{% block content %}
    <h2>게시판</h2>
        <button id="newone" type="button" onclick="location.href='write.html'">새글쓰기</button>
        <table id="board">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회</th>
            </tr>
            <tr>
                <td>1</td><td><a href="view.html?bno=1">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>2</td><td><a href="view.html?bno=2">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>3</td><td><a href="view.html?bno=3">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>4</td><td><a href="">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>5</td><td><a href="">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>6</td><td><a href="">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>7</td><td><a href="">시간은 금이라구, 친구! 진짜라구, 친구! 정말..</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>8</td><td><a href="">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>9</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>10</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
            <tr>
                <td>11</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
                <td>kseon</td><td>2022-05-05</td><td>777</td>
            </tr>
        </table>
        <table id="pgnav">
            <tr>
                <th><a href="#">&lt;&lt;이전</a></th>
                <th><a href="#">1</a></th>
                <th><a href="#">2</a></th>
                <th><a href="#">3</a></th>
                <th><a href="#">4</a></th>
                <th><a href="#">5</a></th>
                <th><a href="#">6</a></th>
                <th><a href="#">7</a></th>
                <th><a href="#">8</a></th>
                <th><a href="#">9</a></th>
                <th><a href="#">10</a></th>
                <th><a href="#">다음&gt;&gt;</a></th>
            </tr>
        </table>
{% endblock %}